{% extends "capstone/layout.html" %}
{% block body %}
<style>
    li{
        color: black;
    }
    .blogo{
        text-align: center;
    }
    .cate{
        color: black;
    }
    h2{
        color: black;
        text-align: center;
    }
</style>
<h2>Popular Movies & TV Shows Genres:</h2>
<div class="blogo">
<a href="http://127.0.0.1:8000/category/Comedy"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"> </a>
<a href="http://127.0.0.1:8000/category/Sci-Fi"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Sci-Fi._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Horror"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Horror._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Romance"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Romance._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Action"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<br><br>
<a href="http://127.0.0.1:8000/category/Thriller"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Thriller._CB1513316169_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Drama"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Drama._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Mystery"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Mystery._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Crime"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Crime._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Animation"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Animation._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<br><br>
<a href="http://127.0.0.1:8000/category/Adventure"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Adventure._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Fantasy"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Fantasy._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Romance-Comedy"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy-Romance._CB1513316167_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Action-Comedy"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action-Comedy._CB1513316166_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
<a href="http://127.0.0.1:8000/category/Superhero"><img src="https://m.media-amazon.com/images/G/01/IMDb/genres/Superhero._CB1513316168_SX233_CR0,0,233,131_AL_.jpg" style="width: 12%; height: 82px;"></a>
</div>

{% endblock %}